#sect1{
    min-height: 100vh;  
    height: 100%;
    width: 100%;  
    color: #fff;
    background-image: url("https://wallpaperaccess.com/full/173801.png");  
    background-size : 100% ;  
    background-size : cover;  
    padding: -10px -10px;
}   