#sect1{
    min-height: 100vh;  
    height: 100%;
    width: 100%;  
    color: #fff;
    background-image: url("https://www.nicepng.com/png/full/418-4186738_new-plain-light-blue-background-plain-light-blue.png");  
    background-size : 100% ;  
    background-size : cover;  
    padding: -10px -10px;
}   